.idea

.python-version

docker/web/*
docker/mysql/data/*
!docker/mysql/docker-compose.yml
!docker/web/docker-compose.yml
!docker/web/Dockerfile

app/.env

app/Resource/Storage/*

app/Config/Kubernetes/kube.yaml